<%= form_with(model: payment_provider, local: true) do |form| %>
  <% if payment_provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment_provider.errors.count, "error") %> prohibited this payment_provider from being saved:</h2>

      <ul>
      <% payment_provider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= form.label :label %>
    <%= form.text_field :label %>
  </div>

  <div class="form-group">
    <%= form.label :type %>
    <%= form.select :provider_type, PaymentProvider.types, { prompt: "Select a type" } %>
  </div>
  
  <div class="form-group">
    <%= form.label :connected %>
    <%= form.check_box :connected, data: { "toggle-field": "api-key" } %>
  </div>
  
  <div class="form-group">
    <%= form.label :api_key %>
    <%= form.text_field :api_key,
      data: { "field": "api-key" },
      class: "full-width",
      disabled: !payment_provider.connected %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
