<div class="form-group">
  <%= f.label :custom %>
  
  <div class="invoice-table" id="js-meta-table">
    <% instance.meta.each do |key, value| %>
      <div class="invoice-row js-meta">
        <div class="invoice-col form-group">
          <%= text_field :key, "", value: key, class: 'form-control', placeholder: "Key" %>
        </div>
        <div class="invoice-col invoice-col--description form-group">
          <%= text_field :value, "", value: value, class: 'form-control', placeholder: "Value" %>
        </div>
        <a class="destroy-icon" href="#" data-role="remove-item" data-wrapper-class="js-meta">
          <%= material_icon.delete %>
          <span>Remove Attribute</span>
        </a>
      </div>
    <% end %>
    
    <div class="invoice-row js-meta" data-role="new-item">
      <div class="invoice-col form-group">
        <%= text_field :key, "", class: 'form-control', placeholder: "Key" %>
      </div>
      <div class="invoice-col invoice-col--description form-group">
        <%= text_field :value, "", class: 'form-control', placeholder: "Value" %>
      </div>
      <a class="destroy-icon" href="#" data-role="remove-item" data-wrapper-class="js-meta">
        <%= material_icon.delete %>
        <span>Remove Attribute</span>
      </a>
    </div>
  </div>

  <div class="invoice-table-actions">
    <%= link_to 'Add Attribute',"#", { class: "btn btn-secondary", "data-insertion-node": "#js-meta-table", "data-role": "add-item" } %>
  </div>
</div>
