<nav class="bg-light siwapp-navbar">
  <div class="nav-contents navbar">
    <a class="navbar-brand d-none d-md-block" href="<%= root_path %>">
      <%= image_tag("logo.png", alt: "Invoices") %>
    </a>
    <% if current_user %>
      <div class="siwapp-navbar-scroll">
        <a class="nav-item nav-link <%= active_link('invoices') %>" href="<%= invoices_path %>">
          <%= t("invoices") %>
        </a>
        <a class="nav-item nav-link <%= active_link('recurring_invoices') %>" href="<%= recurring_invoices_path %>">
          <%= t("recurring invoices") %>
        </a>
        <a class="nav-item nav-link <%= active_link('customers') %>" href="<%= customers_path %>">
          <%= t("customers")  %>
        </a>
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle <%= active_link('settings, series, taxes, templates') %>" data-toggle="dropdown" href="#">
            <%= t("account") %>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="<%= settings_profile_path %>">
              <%= t("profile") %>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="<%= settings_global_path %>">
              <%= t("global settings")  %>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="<%= series_index_path %>">
              <%= t("series") %>
            </a>
            <a class="dropdown-item" href="<%= taxes_path %>">
              <%= t("taxes") %>
            </a>
            <a class="dropdown-item" href="<%= templates_path %>">
              <%= t("templates") %>
            </a>
            <a class="dropdown-item" href="<%= settings_tags_path %>">
              <%= t("tags") %>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="<%= settings_api_token_path %>">
              <%= t("api token") %>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="<%= settings_hooks_path %>">
              <%= t("hooks") %>
            </a>
            <div class="dropdown-divider"></div>
            <%= link_to t("log out"), logout_path, method: "delete", class: "dropdown-item" %>
          </div>
        </div>
      </div>  
    <% end %>
    <div class="d-none d-xl-block" id="js-navbar">
      <% if current_user %>
        <% if @type %>
          <%= link_to "#{t("new")} #{current_type_name()}", sti_path(@type, 'new'), class: "btn btn-primary " %>
        <% else %>
          <%= link_to t("new invoice"), new_invoice_path, class: "btn btn-primary" %>
        <% end %>
      <% end %>
    </div>
    <div class="d-xl-none">
      <% if current_user %>
        <% if @type %>
          <%= link_to material_icon.add, sti_path(@type, 'new') %>
        <% else %>
          <%= link_to material_icon.add, new_invoice_path  %>
        <% end %>
      <% end %>
    </div>
  </div>
</nav>