<nav class="bg-light siwapp-navbar">
  <div class="nav-contents navbar">
    <a class="navbar-brand d-none d-md-block" href="/">
      <%= image_tag("logo.png", alt: "Invoices") %>
    </a>
    
    <% if current_user and @search %>
      <%= render 'shared/searchform' %>
    <% end %>
    
    <div id="js-navbar">
      <% if current_user.is_member? %>
        <% if @type %>
          <%= link_to "#{t("new")} #{current_type_name()}", sti_path(@type, 'new'), class: "btn btn-primary " %>
        <% else %>
          <%= link_to t("new invoice"), new_invoice_path, class: "btn btn-primary" %>
        <% end %>
      <% end %>
      
      <div class="nav-item dropdown">
        <a class="nav-link <%= active_link('settings, series, taxes, templates') %>" data-toggle="dropdown" href="#">
          <%= render partial: 'users/avatar' %>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <%= render partial: 'shared/menu' %>
        </div>
      </div>
    </div>
    
    <div class="d-xl-none">
      <% if current_user %>
        <% if @type %>
          <%= link_to material_icon.add, sti_path(@type, 'new') %>
        <% else %>
          <%= link_to material_icon.add, new_invoice_path  %>
        <% end %>
      <% end %>
    </div>
  </div>
</nav>